# Node modules
**/node_modules/**

# Cache
**/.vuepress/.cache/**
# Temp
**/.vuepress/.temp/**
# Output
**/.vuepress/dist/**

# 自定义草稿箱
docs/_temp/

# GoodSync
_gsdata_/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
